.mainback {
  min-height: 93vh;
  display: flex;
  padding: 10px 0;
  background-color:#232b2b;
}

.heading{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  padding: 50px 10px;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 45px;
    display: flex;
    justify-content: center;
  }
}
.page {
  width: 100%;
}
